#error {
  display: none;
}

#container {
  background-color: aquamarine;
  height:60vh;
  width: 60vw;
  margin: auto;
}

#amountBox {
  margin-left:auto;
  margin-right: auto;
  width:50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#amountBox>* {
  width:50%;
  margin-right: auto;
  margin-left: auto;
}

@keyframes spinner {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#spinner {
  margin-left:auto;
  margin-right: auto;
  margin-top: 10%;
  width:50%;
  display: flex;
  justify-content: space-around;
}

.spinnyboi {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.onlyOne {
  animation-iteration-count: 1 !important;
}

#submitButton {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin-right: auto;
  margin-left: auto;
}