body {
  padding: 0px;
  margin: 0px;
}

#error {
  display: none;
}

form {
  height:30vh;
}

#container {
  position: relative;
  background-color: aquamarine;
  height:80vh;
  width: 80vw;
  min-height: 500px;
  min-width: 500px;
  margin: auto;
  margin-top: 10vh;
  border-radius: 50px;
  border:2px solid black;
  overflow: hidden;
}

#amountBox {
  margin-left:auto;
  margin-right: auto;
  margin-top:50px;
  width:50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
  border: 2px solid black;
  padding-bottom: 10px;
}

#amountBox>* {
  width:50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@keyframes spinner {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#spinPos {
  position: absolute;
  left: 50%;
  bottom:45%;
  transform:translate(-50%,-25%);
  min-width: 500px;
  max-width: 40%;
}

#spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#spinner>* {
  background-color:floralwhite;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  width:150px;
}

#from, #to {
  background-color: floralwhite;
  outline: none;
  overflow: hidden;
}

.spinnyboi {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: 1;
}


#submitButton {
  position: absolute;
  left: 50%;
  top:45%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin-right: auto;
  margin-left: auto;
}

#output {
  position: absolute;
  text-align: center;
  background-color: floralwhite;
  width: fit-content;
  min-width: 50px;
  height: 25px;
  left:50%;
  bottom:20%;
  transform: translate(-50%);
}